:root {
  --primary-1: #4d96a9;
  --primary-2: #855fb1;
  --secondary-1: #8fe3f9;
  --secondary-2: #d9b8ff;
  --hover-1: #71abba;
  --hover-2: #9d7fc1;
  --h-color: #28283d;
  --primary-text-color: #87879d;
  --secondary-text-color: #fafafa;
  --number-border-color: rgba(135, 135, 157, 0.5);
  --number-background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  max-width: 144rem;
  margin: 0 auto;
}

p {
  color: var(--primary-text-color);
  font-size: 1.8rem;
  line-height: 1.44;
}

.logo-box {
  max-width: 11.9rem;
  margin: 10rem auto;
}

/*-----HEADER-----*/

header {
  max-width: 150.4rem;
  max-height: 35.8rem;
  margin-bottom: 12rem;

  display: flex;
  gap: 9rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header-text {
  flex: 1 0 54rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

h1 {
  color: var(--h-color);
  font-size: 6.4rem;
}

/*-----BUTTONS-----*/

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

button {
  color: var(--secondary-text-color);
  font-weight: 900;
  letter-spacing: 0.5px;
  border-radius: 50px;
  border: none;
}

.btn-1 {
  background-color: var(--primary-1);
  width: 19.3rem;
  height: 5.8rem;
}

.btn-1:hover {
  background-color: var(--hover-1);
}

.btn-1:hover,
.btn-2:hover,
.btn-3:hover {
  cursor: pointer;
  transition: all 0.3s;
}

.version-top {
  color: var(--secondary-1);
  font-style: normal;
}

.btn-2 {
  width: 13.9rem;
  height: 5.8rem;
}

.btn-2,
.btn-3 {
  background-color: var(--primary-2);
}

.btn-2:hover,
.btn-3:hover {
  background-color: var(--hover-2);
}

.btn-3 {
  width: 19.3rem;
  height: 5.8rem;
}

.version-bottom {
  font-style: normal;
  color: var(--secondary-2);
}

.version-top,
.version-bottom {
  margin-left: 0.5rem;
}

/*-----Numbers-----*/

.nr-1-box,
.nr-2-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  opacity: 0.5;
  border: 1px solid var(--primary-text-color);
  width: 0.1rem;
  height: 8.4rem;
}

.nr-1,
.nr-2 {
  color: var(--primary-text-color);
  background-color: var(--number-background-color);
  width: 5.6rem;
  height: 5.6rem;
  font-weight: 900;
  line-height: 5.6rem;
  border: 1px solid var(--number-border-color);
  border-radius: 50%;
  text-align: center;
}

.nr-1 {
  margin-bottom: 7rem;
}

.nr-2 {
  margin-bottom: -2.8rem;
  z-index: 1;
}

/*-----MAIN SECTION-----*/

.img-box {
  margin-bottom: 10rem;

  display: flex;
  gap: 3rem;
  justify-content: center;
}

.main-img {
  height: auto;
  max-width: 25.5rem;
  border-radius: 10px;
}

figure {
  text-align: center;
  height: 24rem;
  width: 54rem;
  margin: 0 auto 14rem auto;
  z-index: 0;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

h3 {
  color: var(--primary-1);
  font-size: 1.6rem;
  line-height: 1.625;
  letter-spacing: 0.4rem;
}

figure h2 {
  font-size: 4rem;
  line-height: 1.01;
  padding: 0 6rem;
}

figure p {
  padding: 0 1rem;
}

/*-----FOOTER SECTION-----*/

.footer-box {
  /* overflow: hidden; */
  position: relative;
  margin-bottom: 5rem;
}

.footer-box::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-1);
  opacity: 0.7;
}

.footer-img {
  display: block;
  max-width: 100%;
  height: auto;
}

footer {
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  height: 30.8rem;
  max-width: 144rem;
  padding: 0 16rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

footer h2,
footer p {
  color: var(--secondary-text-color);
}

footer h2 {
  flex: 1 35rem;
  font-size: 4rem;
  line-height: 1.01;
}

footer p {
  flex: 1 35rem;
}

@media (max-width: 1300px) {
  header {
    max-height: 95rem;
    margin-bottom: 0;
    flex-direction: column;
    gap: 4rem;
  }
  .header-img-right {
    display: none;
  }

  .header-text {
    flex: 1;
    max-width: 45.7rem;
    margin-bottom: 8rem;
  }

  .footer-box {
    width: 76.8rem;
    height: 48rem;
    margin: 0 auto;
  }

  .footer-img {
    height: 100%;
  }

  /* footer {
    width: 100%;
    height: 70%;
    flex-direction: column;
    gap: 3rem;
    top: 7rem;
    padding: 0 auto;
  } */

  footer {
    display: block;
    text-align: center;
    top: 9rem;
  }

  footer h2,
  footer p {
    margin-bottom: 4rem;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .img-box {
    max-width: 32.7rem;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
